html,
body {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;

  color: #464646;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-weight: lighter;
  line-height: 30px;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;

  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  margin: -1px;

  clip: rect(0 0 0 0);
}

/*------------------------------------------slider---------------------------*/

.main__slider {
  position: relative;

  min-height: 430px;
}

.main__slider-list {
  position: absolute;
  top: -30%;

  height: 500px;
  width: 100%;
}

.main__slider-list input {
  display: none;
}

.slider__item {
  position: relative;

  display: flex;
  align-items: center;
}

.slider__item-img {
  display: flex;
  justify-content: center;

  width: 44%;
  height: 100%;
}

.slider__item-description {
  width: 56%;
  height: 500px;
}

.slider__description-title {
  position: relative;

  display: block;

  margin-top: 75px;

  color: black;
  font-size: 35px;
  font-weight: 900;
  line-height: 42px;
}

.slider__description-title::after {
  content: "";

  position: absolute;
  top: 0;
  right: 70px;

  color: royalblue;
  font-size: 150px;
  line-height: 75px;
  opacity: 0.5;
}

.slide-1 .slider__description-title::after {
  content: "01";
}

.slide-2 .slider__description-title::after {
  content: "02";
}

.slide-3 .slider__description-title::after {
  content: "03";
}

.slider__description-text {
  margin-top: 20px;
  margin-bottom: 70px;
  font-size: 15px;
}

.slider__description-table {
  margin-top: 70px;
}

.slider__description-table th {
  color: black;
  font-size: 30px;
  font-weight: normal;
  padding-right: 100px;
}

.slider__description-table td {
  font-size: 15px;
}

.main__slider-btn {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 200px;
}

.main__slider-btn:hover .slider__btn-text {
  color: white;
}

.slider__btn-text {
  z-index: 2;

  color: black;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 20px;
  font-weight: 900;
  letter-spacing: 2px;

  transition: color 0.4s;
}

.main__slider-btn::after {
  content: "";
  position: absolute;
  z-index: 1;
  width: 200px;
  height: 10px;
  background-color: rgba(65, 105, 225, 0.5);
  transition: 0.4s;
}

.main__slider-btn:hover::after {
  background-color: royalblue;
  transform: scaleY(500%);
}

.main__slider-btn:active::after {
  box-shadow: inset -2px -2px 20px black;
}

#slider__radio-1:checked ~ .slide-1 {
  display: flex;
}

#slider__radio-2:checked ~ .slide-2 {
  display: flex;
}

#slider__radio-3:checked ~ .slide-3 {
  display: flex;
}

.slide-1,
.slide-2,
.slide-3 {
  display: none;
}

.main__slider-navigation {
  position: absolute;
  top: 180px;
  right: 275px;

  display: flex;
  justify-content: space-between;

  width: 100px;
}

.slider__navigation-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 20px;
  height: 20px;
  border: 1px solid black;
  border-radius: 50%;

  cursor: pointer;

  transition: background-color 0.5s;
}

.slider__navigation-btn:hover {
  background-color: rgba(65, 105, 225, 0.5);
}

.slider__navigation-btn:active {
  box-shadow: 2px 2px 10px royalblue;
}

/*------------------------------------------categories----------------------*/

.main__categories {
  width: 90%;
  margin: 0 auto;
}

.categories__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  list-style: none;
}

.categories__item {
  width: 160px;
  height: 240px;
}

.categories__item-link {
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;

  width: 160px;
  height: 160px;

  background-color: rgba(65, 105, 225, 0.5);

  transition-property: background-color;
  transition-duration: 0.4s;
}

.categories__item:nth-child(2) .categories__item-link {
  align-items: flex-end;
}

.categories__item h3 {
  padding-top: 10px;

  color: black;
  font-size: 15px;
  line-height: 24px;
  font-weight: 900;

  transition-property: opacity;
  transition-duration: 0.2s;
}

.categories__item-link:active {
  box-shadow: inset -2px -2px 50px black;
}

.categories__item:active h3 {
  opacity: 0.5;
}

.categories__item-link:hover,
.categories__item-link:focus {
  background-color: royalblue;
}

.categories__item-link path {
  transition-property: opacity;
  transition-duration: 0.2s;
}

.categories__item-link:hover path,
.categories__item-link:focus path {
  fill: white;
}

/*------------------------------------------accordion----------------------*/

.main__accordion {
  position: relative;

  width: 100%;
  min-height: 300px;
  margin-top: 120px;

  background-color: rgba(128, 128, 128, 0.3);
}

.main__accordion-wrapper {
  position: absolute;
  top: -10%;
  left: 5%;

  width: 90%;
  height: 100%;
}

.main__accordion-item {
  display: flex;
}

.main__accordion-item input {
  display: none;
}

.main__accordion-btn {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 5px;
  margin-bottom: 5px;
  width: 200px;
  height: 50px;

  cursor: pointer;
}

.main__accordion-btn:hover .accordion__btn-text {
  color: white;
}

.accordion__btn-text {
  z-index: 2;

  color: black;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 900;
  letter-spacing: 2px;
  line-height: 20px;

  transition: color 0.4s;
}

.main__accordion-btn::before {
  content: "";

  position: absolute;
  z-index: 1;

  width: 200px;
  height: 10px;

  background-color: rgba(65, 105, 225, 0.5);

  transition: 0.4s;
}

.main__accordion-btn::after {
  content: "";

  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  width: 285px;
  height: 50px;

  background-color: transparent;
}

.main__accordion-btn:hover::before {
  background-color: royalblue;
  transform: scaleY(500%);
}

.main__accordion-btn:active::before {
  box-shadow: inset -2px -2px 20px black;
}

.main__accordion-description {
  position: absolute;
  top: 0;
  left: 350px;

  display: none;

  width: 60%;
}

.main__accordion-img {
  position: absolute;
  top: 0;
  right: 10px;
}

#accordion__radio-1:checked ~ .main__accordion-description {
  display: block;
}

#accordion__radio-2:checked ~ .main__accordion-description {
  display: block;
}

#accordion__radio-3:checked ~ .main__accordion-description {
  display: block;
}

#accordion__radio-1:checked ~ .main__accordion-btn::after {
  background-color: black;
}

#accordion__radio-2:checked ~ .main__accordion-btn::after {
  background-color: black;
}

#accordion__radio-3:checked ~ .main__accordion-btn::after {
  background-color: black;
}

#accordion__radio-1:checked + .main__accordion-btn .accordion__btn-text {
  color: #ffc600;
}

#accordion__radio-2:checked + .main__accordion-btn .accordion__btn-text {
  color: #ffc600;
}

#accordion__radio-3:checked + .main__accordion-btn .accordion__btn-text {
  color: #ffc600;
}

.accordion__description-title {
  margin-top: 9px;
  margin-bottom: 30px;

  color: black;
  font-size: 35px;
  font-weight: 900;
  line-height: 35px;
}

.accordion__description-title::before {
  content: "";

  position: absolute;
  top: -25%;
  left: -10%;
  width: 7px;
  height: 300px;
  background-color: black;
}

/*-----------------------------------------brands----------------*/

.main__brands {
  width: 100%;
}

.main__brands-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

  width: 90%;
  min-height: 200px;
  margin: 0 auto;

  list-style: none;
}

.main__brands-link {
  display: block;

  position: relative;

  cursor: pointer;
}

.main__brands-link::after {
  content: "";

  width: 100px;
  height: 260px;
}

.main__brands-link img:hover {
  opacity: 0;
}

.main__brands-link:hover::after {
  content: "";

  position: absolute;
  top: 0;
  left: 0;
}

.brand-1:hover::after {
  content: url(../img/logo-1-hover.png);
}

.brand-2:hover::after {
  content: url(../img/logo-2-hover.png);
}

.brand-3:hover::after {
  content: url(../img/logo-3-hover.png);
}

.brand-4:hover::after {
  content: url(../img/logo-4-hover.png);
}

/*-----------------------------------info----------------*/

.main__info-wrapper {
  display: flex;
  justify-content: space-between;

  width: 90%;
  height: 600px;
  margin: 0 auto;
}

.main__info-column {
  position: relative;

  width: 50%;
}

.main__info-column h3 {
  margin-top: 35px;

  color: black;
  font-size: 35px;
  font-weight: 900;
  line-height: 35px;
}

.main__info-column h3::before {
  content: "";

  position: absolute;
  top: 0;
  left: 0;

  width: 100px;
  height: 5px;

  background-color: black;
}

.main__info-column p {
  margin-top: 35px;
}

.main__info-column ul {
  margin-top: 35px;
  margin-left: 50px;

  color: black;
  font-weight: 900;
  list-style-type: circle;
}

.main__info-btn {
  position: absolute;
  left: 0;
  bottom: 100px;

  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 5px;
  margin-bottom: 5px;
  width: 250px;
  height: 50px;

  background-color: white;

  cursor: pointer;
}

.main__info-btn:hover .info__btn-text {
  color: white;
}

.info__btn-text {
  z-index: 2;

  color: black;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 900;
  letter-spacing: 2px;
  line-height: 20px;

  transition: color 0.4s;
}

.main__info-btn::before {
  content: "";

  position: absolute;
  z-index: 1;

  width: 250px;
  height: 10px;

  background-color: rgba(65, 105, 225, 0.5);

  transition: 0.4s;
}

.main__info-btn:hover::before {
  background-color: royalblue;
  transform: scaleY(500%);
}
